.banner {
  background-image: url("../images/homestack.jpg");
  background-size: cover;
  color: white;
  padding: 120px 0;
  opacity: 95%;
}

.container{
  /* background-color: aliceblue; */
}

div {
  display: block;
}

body {
    color: #494949;
    font-size: 12px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'Monserrat', sans-serif;
    display: block;
    margin: 8px;
}

h1 {
    color: rgb(0, 0, 32);
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

h2 {
    color: #A0A0A0;
    font-weight: normal;
}
